/*

* Padronizar estilos das tags input, h1, span

* Padronizar a classe .box-form e setar manualmente o tamanho em cada página

* Alterar px para rem

*/

@import url('fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-titulo: Poppins, 'sans-serif';
    --fonte-texto: Playfair, 'sans-serif';
}

/* ESTILO PADRÃO */

body{
    background: url(../images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    font-family: var(--fonte-texto);
    display: block;
    margin: 19px 0 0;
    font-size: 17px;
}

p{
    font-family: var(--fonte-texto);
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 17px;
}

h1{
    font-family: var(--fonte-titulo);
    margin: 50px 0 30px;
    text-align: center;
    font-size: 30px;
}

input{
    display: block;
    border: none;
    outline: none;
    padding: 4px 0;
    background-color: transparent;
}

input::placeholder{
    color: rgb(255, 230, 0);
}

input, span, h1, a{
    color: white;
}

a{
    color: rgb(255, 230, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
}

.box-form{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    padding: 0px 50px;
}

.linha-form{
    border-bottom: 1px solid white;
}

.btn{
    margin: 30px auto 0;
    padding: 4px 16px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-entrar:hover, .btn-inserir:hover, .btn-inserir-cardapio:hover{
    background-color: #3b3b3b;
}

.btn-voltar-sair{
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    margin:30px 0 50px;
}

/* FIM ESTILO PADRÃO */
/*
/*
/* ESTILO PÁGINA LOGIN.HTML */

section .login{
    width: 25rem;
}

.campos-form{
    width: 250px;
    margin: 0 auto;
    color: white;
}

.campos-form input{
    width: 100%;
}

.input-user-senha{
    width: 100%;
    padding: 4px 0;
}

.campos-form .btn-entrar{
    width: 30%;
    margin-bottom: 50px;
}

/* FIM ESTILO PÁGINA LOGIN.HTML */
/*
/*
/* ESTILO PÁGINA INSERIR.HTML */

.campos-form-inserir{
    width: 250px;
    margin: 0 auto;
}

.campos-form-inserir input{
    width: 100%;
}

.campos-form-inserir select{
    width: 100%;
    margin: 3px 0 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

.campos-form-inserir .btn-inserir{
    width: 30%;
}

/* FIM ESTILO PÁGINA INSERIR.HTML */
/*
/*
/* ESTILO PÁGINA CONSULTA.HTML */

.fundo-branco{
    background-color: white;
}

.titulo-page-consulta{
    text-align: center;
    margin: 30px 0 16px;
    color: white;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px 0;
    text-align: center;
}

td{
    background-color: #f2f2f2;
    font-family: var(--fonte-texto);
    font-size: 1rem;
}

th {
    background-color: #a2a2a2;
    font-family: var(--fonte-texto);
    font-size: 1.2rem;
}

/* FIM ESTILO PÁGINA CONSULTA.HTML */
/*
/*
/* ESTILO PÁGINA INSERIR_CARDAPIO.HTML */

.item-cardapio{
    display: inline;
    width: 120px;
    /* background-color: blue; */
}

.linha-form-inserir-cardapio{
    border-bottom: 1px solid white;
    display: inline-block;
    width: 115px;
    margin: 0 10px 0 0;
}

.acompanhamento-fixo{
    margin: 0;
    text-align: left;
    padding: 3px 0;
}

/* FIM ESTILO PÁGINA INSERIR_CARDAPIO.HTML */